obj_d
obj
moc
*_dict*
*.doxytag
*.log
*.bak
Makefile*
*~
*.user*
*.xml
*.xsd
*.nsmap
*.wsdl
soapC.cpp
soapCASSsoapProxy.cpp
soapCASSsoapProxy.h
soapH.h
soapStub.h
/cass_myconfig.pri
/bin
/lib
/doc/doxygen
cass/cass_version.h
cass/soapCASSsoapService.cpp
cass/soapCASSsoapService.h
jocassview/jocassview_version.h
jocassview/qrc_jocassview.cpp
jocassview/ui_imageviewer.h


